.idan{
    display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 100%;
       
}
.assform {
    max-width: 500px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    padding: 20px;
    background-color: #ccc;
    position: relative;
}

.assform div {
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.assform label {
    display: block;
    font-weight: bold;
}

.assform  input[type="file"] {
    display: inline-block;
}

.assform .custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.assform .custom-file-upload:hover {
    background-color: #e0e0e0;
}

.assform button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0086b0;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-size: 18px;
}

.assform button[type="submit"]:hover {
    background-color: #0086b0;
}

