*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.themain{
    background-color: whitesmoke;
    padding: 20px 15px;
    min-height: 100vh;
}
.simplenav{
    
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}
.simplenav button{
    font-family: "Harmattan";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #fffbfb;
        width: 140px;
        height: 36px;
        background: #0086b0;
        border-radius: 8px;
        border: none;
        padding: 3px;
}
.flexdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 4px;
    width: 70%;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #0086b0;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   
}
.maincard{
    background-color: #0086b0;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px grey;
    color: white;
    padding: 10px;
    margin: 10px auto;
}

.maincard p{
    margin: 10px auto;
}
@media (max-width: 500px){
    .simplenav{
        flex-direction: column;
        gap: 10px;
        align-items: start;
        height: fit-content;
    }
        .flexdiv {
            
            width: 100%;
            height: 100px;
            flex-direction: column;
     
        }
        .flexdiv p{
            margin: 5px auto;
        }

}